<div class="box p-4">
  <div class="heading"><h2 class="text-center fs-1 fw-bold">
      <i class="fa-solid fa-money-bill-wave px-2"></i>
      Income/Expense App </h2></div>
  <div class="d-flex justify-content-center align-middle gap-4 mt-4">
    <a href="/income" type="button" class="btn btn-primary">Add Income</a>
    <a href="/expense" type="button" class="btn btn-danger">Add Expense</a>
  </div>

  <div class="content px-5 pt-4">
    <div class="income-expense-stats my-4">
      <div class="row">
        <div class="col">
          <p class="fs-5"><span class="fw-bold">Total Income:</span>
            {{truncateFloat total.income 2}}</p>
        </div>
        <div class="col">
          <p class="fs-5"><span class="fw-bold">Total Expense:</span>
            {{truncateFloat total.expense 2}}</p>
        </div>
        <div class="col">
          <p class="fs-5"><span class="fw-bold">Total:</span>
            {{truncateFloat total.total 2}}</p>
        </div>
      </div>
    </div>
    {{#if records}}
    <table class="table table-striped table-hover">
      <thead>
        <tr class="">
          <th scope="col">#</th>
          <th scope="col">Subject</th>
          <th scope="col">Category</th>
          <th scope="col">Amount(Rs.)</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each records}}
          <tr class=
            {{#ifEquals this.type 'expense'}}
            "table-danger"
            {{/ifEquals}}
            {{#ifEquals this.type 'income'}}
            "table-success"
            {{/ifEquals}}
          >
            <td>{{this.id}}</td>
            <td>{{this.subject}}</td>
            <td>{{this.category}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.type}}</td>
            <td>
            {{formatDate this.updatedAt "MMMM Do YYYY, h:mm:ss a"}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="d-flex justify-content-center m-5">
      <h2>No Records created yet!!</h2>
    </div>
    {{/if}}
  </div>
</div>